{% extends 'base.html.twig' %}

{% block main %}
    <div class="py-5 px-2 p-lg-5 text-white text-center">
        <h1 class="mb-4">Listado de proveedores</h1>

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Accións</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr>
                        <td><a href="{{ path('app_proveedor_show', {'id': proveedor.id}) }}">{{ proveedor.nome }}</a></td>
                        <td>
                            <a href="mailto:{{ proveedor.gmail }}" class="me-2">Gmail</a>
                            <a href="tel:+34{{ proveedor.gmail }}">Tel</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Non se atoparon rexistros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w-100 d-flex align-items-center justify-content-center">{{ pagerfanta(proveedores) }}</div>

        <a href="{{ path('app_proveedor_new') }}">Crear novo proveedor</a>
    </div>
{% endblock %}
