{% extends 'base.html.twig' %}

{% block main %}
    <div class="w-100 h-100vh d-flex align-items-center justify-content-center fondo-oscuro text-white">
        <div class="w-auto text-center p-4">
            <h1 class="mb-4">Información do proveedor</h1>

            <table class="table text-white">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ proveedor.id }}</td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td>{{ proveedor.nome }}</td>
                    </tr>
                    <tr>
                        <th>Tlf</th>
                        <td>{{ proveedor.tlf }}</td>
                    </tr>
                    <tr>
                        <th>Gmail</th>
                        <td>{{ proveedor.gmail }}</td>
                    </tr>
                </tbody>
            </table>
            {{ include('proveedor/_delete_form.html.twig') }}

            <p><a href="{{ path('app_proveedor_edit', {'id': proveedor.id}) }}">Editar proveedor</a></p>
            <p><a href="{{ path('app_proveedor_index') }}">Volver ao listado de proveedores</a></p>
        </div>
    </div>
{% endblock %}
