{% extends 'base.html.twig' %}

{% block main %}
    <div class="py-5 px-2 p-lg-5 text-white text-center">
        <h1 class="mb-4">Listado de produtos</h1>

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td><a href="{{ path('app_produto_show', {'id': produto.id}) }}">{{ produto.nome }}</a></td>
                        <td>{{ produto.precio }}€</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Non se atoparon rexistros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w-100 d-flex align-items-center justify-content-center">{{ pagerfanta(produtos) }}</div>

        <a href="{{ path('app_produto_new') }}">Crear novo produto</a>
    </div>
{% endblock %}
